#countdown {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

#countdown-wrapper {
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 60px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    vertical-align: center;
}

.header {
    font-size: 45px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    vertical-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1454ba;
}

table {
    border-collapse: collapse;
    width: 80%;
}

tr {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
}

th, td {
    padding: 8px;
    /* flex: 1; */
}

@media (max-width: 600px) {
    #column-wrapper {
        display: flex;
        flex-direction: column;
    }
}